{% extends "layouts/public_base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<section class="login-selection">

    <div class="login-header">

        <h1>Choose Login Type</h1>

        <p>

            Select how you want to access SmartProctor.

        </p>

    </div>

    <div class="login-cards">

        <a
        href="{{ url_for('auth.student_login') }}"
        class="login-card">

            <h2>Student</h2>

            <p>

                Join examinations, attend online tests,
                monitor exam status and view results.

            </p>

        </a>

        <a
        href="{{ url_for('auth.teacher_login') }}"
        class="login-card">

            <h2>Teacher</h2>

            <p>

                Create examinations, monitor students,
                manage reports and view analytics.

            </p>

        </a>

    </div>

</section>

{% endblock %}