<aside class="sidebar">

    <div class="sidebar-logo">

        SmartProctor

    </div>

    <nav>

        <a href="{{ url_for('teacher.dashboard') }}">
            Dashboard
        </a>

        <a href="#">
            Create Exam
        </a>

        <a href="#">
            Manage Exams
        </a>

        <a href="#">
            Live Monitoring
        </a>

        <a href="#">
            Students
        </a>

        <a href="#">
            Results
        </a>

        <a href="#">
            Notifications
        </a>

        <a href="#">
            Profile
        </a>

    </nav>

</aside>