.hero{

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:1.2fr 1fr;

    align-items:center;

    gap:80px;

    padding:90px 40px;

}

.hero-badge{

    display:inline-block;

    background:#dbeafe;

    color:#2563eb;

    padding:8px 16px;

    border-radius:50px;

    font-size:14px;

    margin-bottom:25px;

}

.hero h1{

    font-size:60px;

    line-height:1.2;

    margin-bottom:25px;

}

.hero h1 span{

    color:#2563eb;

}

.hero p{

    font-size:18px;

    color:#64748b;

    margin-bottom:40px;

    max-width:650px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}